services:
  backend:
    image: nguyentranphuquy/mtatft-backend:latest
    restart: always
    container_name: backend
    env_file:
      - .env
    expose:
      - "3000"

  frontend:
    image: nguyentranphuquy/mtatft-frontend:latest
    restart: always
    container_name: frontend
    env_file:
      - .env
    expose:
      - "80"

  nginx-proxy:
    image: nginx:alpine
    restart: always
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend