services:
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    expose:
      - "3000"

  frontend:
    build: ./frontend
    env_file:
      - ./frontend/.env
    expose:
      - "80"
      
  nginx-proxy:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
      - frontend