services:
  backend:
    build: ./backend
    image: nguyentranphuquy/mtatft-backend:latest
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: http://api.mtatft.io.vn
    image: nguyentranphuquy/mtatft-frontend:latest
    env_file:
      - ./frontend/.env
    ports:
      - "80:80"